<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Show Striker</h1>

      <br><br>

      <h2>War_tag: <%= @striker.war_tag %></h2>
      <p>Description: <%= @striker.description %></p>
      <p>Price: <%= @striker.price %></p>

      <%= link_to 'Back', strikers_path %>
    </div>
  </div>
</div>
