.h1-properties {
  color: black;
  text-align: center;
}
.striker-cards {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
  margin: 10px 0;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  color: black;
  justify-content: space-between;
  }

.striker-image-name-description {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.war-tag {
  min-width: 30%;
  max-width: 30%;
}

.striker-description {
  flex-grow: 1;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.price-right {
  align-self: flex-end;
  color: white;
  background-color: #FF3947;
  border-radius: 4px;
  min-width: 116px;
  height: 40px;
  text-align: center;
  margin-left: 10px;
}
