<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "airbnb_landing-1.png"%>)">
  <div>
      <h1>Change The World, <br> <strong>One Fight At A Time<strong></h1>
    <button type="button" class="button btn btn-light discover m-0" onclick="window.location.href='/strikers'">Discover Strikers</button>
  </div>
</div>

<div class="locations-h2">
<h2>Find your Location</h2>
</div>

<div class="cards">
  <a href="#" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets3.thrillist.com/v1/image/3026321/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70)">
    Montreal
  </a>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-688899881-1519413300.jpg)">
    New York
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.tacdn.com/media/attractions-splice-spp-674x446/07/03/1c/9c.jpg)">
    Paris
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cheapflights.ca/rimg/dimg/fd/78/450771ca-city-16078-177454338ca.jpg?width=1200&height=630&xhint=4036&yhint=2625&crop=true)">
    Los Angeles
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.fodors.com/assets/destinations/4224/night-aerial-chicago-illinois-usa_980x650.jpg)">
    Chicago
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.bain.com/contentassets/bafa4fa3ef5346af86b1de4c6c0cccae/local-office-images-moscow-update-1440x810.jpg)">
    Moscow
  </div>

 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/aerial-view-of-tokyo-cityscape-with-fuji-mountain-in-japan-picture-id1131743616?k=20&m=1131743616&s=612x612&w=0&h=5IzvPM791pd7-TFIB16zl1-CHgcqOBFLbQ9U1d6cUw8=)">
    Tokyo
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.iss.europa.eu/sites/default/files/styles/large_banner_image/public/city-5000648_1920%20banner.jpg?itok=2VD5CQf5?%3E)">
    More...
  </div>
</div>
