.booking-head h1 {
  font-size: 40px;
  border: none;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}


.booking-list h2 {
  color: grey;
  font-size: 28px;
  border: none;
  margin: 0;
  padding-left: 20px;
}

.booking-list li {
  list-style-type: none;
  padding-left: 20px;
}
