.button {
  opacity: 95%;
  border-radius: 10px;
  background-color: #FF3947;
  border: 1px solid #FF3947;
  margin-top: 100px;
  padding: 10px 20px 10px 20px;
}

.button:hover {
  background-color: #FF3947;
  color: black;
  border: 1px solid #FF3947;
  outline: 0;
  transform: scale(.9);
  opacity: .75;
}

.button-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-flex-center {
  display: flex;
  justify-content: center;
}

#login-btn {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
  text-decoration: none;
  color: white;
}

#login-btn-option {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  opacity: 55%;
}

#button-margin {
  margin: 80px 79.5px 0 79.5px;
}
