#login-form {
  margin-right: 100px;
  margin-left: 100px;
}

#login-title {
  font-size: 48px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#wololo {
  margin-right: 100px;
  margin-left: 100px;
}
