.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 150px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}
.navbar-brand p {
  margin: 0;
  padding-left: 15px;
  font-weight: 800;
  color: #FF3947;
}

.form-group {
  display: flex;
  align-items: center;
}

.fas {
  padding-left: 20px;
}

.search-navbar {
position: absolute;
left: 43%;
}
.form-control {
  text-align: center;
}
